<% if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>

<h1>新しいタスクを作成</h1>

<%= form_with model: @task, local: true do |form| %>
  <div>
    <%= form.label :title, "タスクのタイトル" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :completed, "完了済み" %>
    <%= form.check_box :completed %>
  </div>
  <div>
    <%= form.submit "タスクを作成" %>
  </div>
<% end %>